body {
  background-color: #444;
  box-sizing: border-box;
  text-align: center;
}

#gallery {
  margin: auto;
  padding-top: 40px;
  width: 500px;
}

#gallery .main img {
  border: 4px solid #fff;
  box-shadow: 0 0 14px #000;
  width: 100%;
}

#gallery .main p {
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

#gallery .thumb img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px;
  border: 4px solid #fff;
  box-shadow: 0 0 10px #000;
}